<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CDN do axios no front end. Para fazer a requisição para o back end do sistema -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Pagina inicial</title>
</head>
<body onload="getLocation()">


    <form action="/api" method="post">
        <input type="text" placeholder="Nome da cidade" name="nameCity" id="city">
        <button>Enviar</button>
    </form>
       
    <form action="/api" method="post">
        <input type="hidden" type="text" name="lat" id="demo1">
        <input type="hidden" type="text" name="lon" id="demo2">
        <button onclick="getLocation()">Localização automatica</button>
    </form>
    
    

    <script>

        //FUNCIONALIDADE: PEGAR A LATITUDE E LONGITUDE DO USUÁRIO
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
            else {
                alert("O seu navegador não suporta Geolocalização. Por favor digite o nome da sua cidade");
            }
            async function showPosition(position) {
                
                //selecionar os inputs de latitude e longitude e atribuir a eles os valores gerados 
               const inputLat = document.getElementById("demo1").value = position.coords.latitude //[inputLat = document.getElementById("demo1").value] seleciona o input no html com o id demo1 e selecionar seu valor. Onde vai receber [position.coords.latitude] que é o resultado da função que seleciona os valores da localização do usuario
               const inputLon = document.getElementById("demo2").value = position.coords.longitude
              
               //enviar os valores para os respectivos inputs
               return inputLat,inputLon
            }
        } 








    </script>
</body>
</html>